<header>
    <img id="logo" src="{{asset('img/universal-logo.png')}}" alt="Company logo">
    <ul>
        <li><a href="{{ path('admin_developers_view') }}" > Developers </a></li>
        <li><a href="{{ path('admin_clients_view') }}" > Clients </a></li>
        <li><a href="{{ path('admin_personal_profile') }}" > My profile </a></li>    
    </ul>
</header>